<div class="text-right mt-2">
  <div class=<%= "bookmark-" + quiz.id.to_s %> >
    <%= render "public/bookmarks/btn", quiz: quiz %>
  </div>
</div>
<div class="text-center">
  <%= image_tag result, class: 'card-img-top', style: 'width: 250px; height: 250px; object-fit: cover;' %>
</div>
<h4>【解説】</h4>
<p><%= quiz.description %></p>
<div id="comment_index">
 <%= render "public/quiz_comments/index", quiz: quiz %>
</div>
<%= render "public/quiz_comments/form", quiz: quiz, quiz_comment: quiz_comment %>

<!--余裕があれば搭載したい機能-->
<!--<p>正答率: <%#= correct_rate(current_user) %>%</p>-->
<!--<p>正解数: <%#= current_user.correct_answers_count %></p>-->