<!--<template>-->
  <div class="container">
    <h1 class="text-center"><%= @quiz.title %></h1>
    <div class="question-container">
      <div class="question-box">Q.<%= @quiz.question %></div>

      <!-- 4択 -->
      <div id="answers">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary d-block w-100 large dark">A. <%= @quiz.answer1 %></button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary d-block w-100 large dark">B. <%= @quiz.answer2 %></button>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <button class="btn btn-primary d-block w-100 large dark">C. <%= @quiz.answer3 %></button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary d-block w-100 large dark">D. <%= @quiz.answer4 %></button>
          </div>
        </div>
      </div>

      <div class="answer-btn">
        <button class="btn btn-primary d-block w-100 large" @click.stop>回答する</button>
      </div>

      <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <div class="text-center">
                <div id="resultSuccessText" class="text-center text-success">〇正解！</div>
                <div id="resultFailureText" class="text-center text-danger">✖不正解</div>
                <div class="font-weight-bold text-center answer-text">正解は「<%= @answerLabel %>」</div>
                <div class="pt-3 px-6"><%= @quiz.description %></div>
                <div class="text-center mb-2">
                  <button class="btn btn-primary large" data-dismiss="modal" @click>次の問題</button>
                </div>
                <div class="text-center">
                  <a href="/" class="btn btn-link">トップページへ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<!--</template>-->

<!--<script>-->
<!--export default {-->
<!--  data() {-->
<!--    return {-->
<!--      quiz: {},-->
<!--      selectedAnswer: null,-->
<!--      dialog: false,-->
<!--      result: {-->
<!--        answer: null,-->
<!--        description: null,-->
<!--        next_quiz_id: null-->
<!--      }-->
<!--    }-->
<!--  },-->
<!--  async created() {-->
<!--    this.quiz = await this.getQuiz()-->
<!--  },-->
<!--  methods: {-->
<!--    async getQuiz() {-->
<!--      let params = {-->
<!--        title_id: this.$route.params.titleId,-->
<!--        quiz_id: this.$route.params.quizId || undefined-->
<!--      }-->
<!--      const response = await this.axios.get('/quiz', { params })-->
<!--      return response.data-->
<!--    },-->
<!--    selectAnswer(answer) {-->
<!--      this.selectedAnswer = answer-->
<!--    },-->
<!--    async postAnswer() {-->
<!--      let params = {-->
<!--        quiz_id: this.quiz.id,-->
<!--        answer: this.selectedAnswer-->
<!--      }-->
<!--      const response = await this.axios.post('/quiz/answer', params)-->
<!--      this.result = response.data-->
<!--      this.dialog = true-->
<!--    },-->
<!--    answerLabel() {-->
<!--      return eval('this.quiz.answer' + this.result.answer)-->
<!--    },-->
<!--    goToNextQuiz() {-->
<!--      this.dialog = false-->
<!--      if (this.result.next_quiz_id !== null) {-->
<!--        this.$router.push('/quiz/' + this.$route.params.titleId + '/' + this.result.next_quiz_id)-->
<!--      }-->
<!--    }-->
<!--  }-->
<!--}-->
<!--</script>-->