<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-6 my-4">
          <h4>問題一覧</h4>
        </div>
        <div class="col-6 my-4 text-right">
          <%= link_to new_admin_quiz_path do %>
            <button type="button" class="btn btn-success">
              <i class = "fa-solid fa-plus"></i>
              問題新規投稿
            </button>
          <% end %>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th width="10%">問題ID</th>
            <th width="30%">タグ</th>
            <th width="60%">タイトル</th>
          </tr>
        </thead>
        <% @quizzes.each do |quiz| %>
        <tbody>
          <tr>
            <td><%= quiz.id %></td>
            <td><%= quiz.tag %></td>
            <td><%= link_to quiz.title, admin_quiz_path(quiz) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class = "col-md-9 d-flex justify-content-center">
        <%= paginate @quizzes %>
      </div>
    </div>
  </div>
</div>