<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="my-4">問題詳細</h4>
      <div class="d-flex align-items-center">
        <table class="table table-bordrless">
          <tbody>
            <tr>
              <td width="30%">タグ</td>
              <td width="70%"><%= @quiz.tag %></td>
            </tr>
            <tr>
              <td>タイトル</td>
              <td><%= @quiz.title %></td>
            </tr>
            <tr>
              <td>問題</td>
              <td><%= @quiz.question %></td>
            </tr>
            <tr>
              <td>選択肢1</td>
              <td><%= @quiz.answer1 %></td>
            </tr>
            <tr>
              <td>選択肢2</td>
              <td><%= @quiz.answer2 %></td>
            </tr>
            <tr>
              <td>選択肢3</td>
              <td><%= @quiz.answer3 %></td>
            </tr>
            <tr>
              <td>選択肢4</td>
              <td><%= @quiz.answer4 %></td>
            </tr>
            <tr>
              <td>正解</td>
              <td><%= @quiz.answer %></td>
            </tr>
            <tr>
              <td>解説</td>
              <td><%= @quiz.description %></td>
            </tr>
            <tr>
              <td></td>
              <td align="right"><%= link_to "編集する", edit_admin_quiz_path, class: "btn btn-success" %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="comment_index">
        <%= render "public/quiz_comments/index", quiz: @quiz %>
      </div>
    </div>
  </div>
</div>